{% extends "pages/base.html" %}
{% block title %}Triplets{% endblock title %}
{% block content %}
<h1>Pythagorean triplets</h1>
<p>
<h3>How mutch do you want to generate?</h3>
<form form action="/triplets" method="post">
    <label>n<input name="n" type="number"></label>
    <label><input type="submit" value="confirm"></label>
</form>
</p>
{% if time %}
<div>{{ time }} ms</div>
{% endif %}
{% if triplet %}
<div>{{ triplet }}</div>
{% endif %}
{% endblock content %}