/* 		<-------		VARIABLES			------>		  */

:root {
  --gn: green;
  --rad: 5px;
  --blue: #4d73f0;
  --blue-hover: #39becf;
  --nav-hover: #3680e0;
  --w: #fff;
  --b: #000;
  --btn-ok: rgb(154, 236, 22);
  --btn-ok-hover: rgb(11, 189, 91);
  --btn-err: rgb(241, 79, 30);
  --err: #ff1e00e8;
  --err-back: #ff00001a;
  --btn-err-hover: rgb(241, 79, 30);
  --dark-theme: #000104e8;
}

body {
  background-color: var(--w);
  margin: 0;
}
nav a {
  color: var(--w);
  padding: 1em;
  text-decoration: none;
}
nav a:focus,
nav a:hover {
  background-color: var(--nav-hover);
}
nav {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--w);
}
main {
  text-align: center;
}
input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
form.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
form.options label input {
  outline-color: var(--blue);
}
form.options label {
  border: solid 2px var(--blue);
  border-radius: 5px;
  padding: 0.4em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  background-color: #39becf;
}
input {
  margin: 0 0 1em 1em;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}
.rust_code {
  display: block;
  width: 70%;
  margin: 0 auto;
  overflow-x: auto;
  background: #f1f1f1;
  color: #6e6b5e;
  padding: 0.5em;
  border-radius: 10px;
}
.lyrics {
  margin: 0 auto;
  padding: 2em;
  width: 50%;
}
@media (max-width: 500px) {
  .lyrics {
    width: 100%;
    padding: 0;
    margin: 0 1em;
  }
}
/* 		<-------  	404   	------>	   	*/
.error {
  background-image: url(404svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
