<nav>
  <a href="/">Home</a>
  <a href="/triplets">Triplets</a>
  <a href="/multipart_image">Multipart upload</a>
  <a href="/convert">Celsius</a>
  <a href="/fibonacci">Fibonacci</a>
  <a href="/christmas">Christmas</a>
  <a href="/404">404</a>
</nav>
